<h2>Search Blacklist</h2>
<form action="/entries" method="GET">
    <div>
        <label>First Name</label>
        <input type="text" name="firstName" value="<%= searchOptions.firstName %>">   
    </div>
    <div>
        <label>Last Name</label>
        <input type="text" name="lastName" value="<%= searchOptions.lastName %>">
    </div>
    <div>
        <label>Date of Birth</label>
        <input type="date" name="dateOfBirth" value="<%= moment(searchOptions.dateOfBirth).format('YYYY-MM-DD') %>"> 
    </div>
    <button type="submit">Search</button>
</form>
<br>
<div>
    <table class="table">
        <thead>
          <tr>
            <th scope="col">First</th>
            <th scope="col">Last</th>
            <th scope="col">DOB</th>
            <td scope="col"></td>
            <td scope="col"></td>
            <td scope="col"></td>
          </tr>
        </thead>
        <tbody>
    <% entries.forEach(entry => { %>
        <tr>
            <td><%= entry.firstName %></td>
            <td><%= entry.lastName %></td>
            <td><%= moment(entry.dateOfBirth).format('YYYY-MM-DD') %></td>
            <td><a href="/entries/<%=entry.id%>">View</a></td>
            <td><a href="/entries/<%=entry.id%>/edit">Edit</a></td>
            <td>
                <%- include('../partials/deleteForm',{
                        url: `/entries/${entry.id}` })%>
            </td>
        </tr>
    
<% }); %>
        </tbody>
      </table>
</div>

